<div>
  Employment
</div>
<div class="half edit-screen pull-left">
  <div>
    Name of income source:
    {{input value=name placeholder="Feel Good Inc." classNames="name"}}
  </div>
  <div>
    Monthly Salary:
    {{input value=salary placeholder="$XX,000" classNames="salary"}}
  </div>
    {{yearly-salary valueBinding=yearly monthlyBinding=salary}}
  <button class="add">Add/Save</button>
</div>
<div class="half select-screen pull-right">
  {{#each model as |employment|}}
  <div class="employment">
    <div class="name pull-left">{{employment.name}}</div>
    <div class="delete-button pull-right"> <a {{action 'delete'}} class="delete">delete</a></div>
    <div class="edit-button pull-right"> <a {{action 'edit'}} class="edit">edit</a></div>
    <div class="salary pull-right">{{employment.salary}}</div>
  </div>
  {{/each}}
</div>
